<style>
    .erro {
        color: red;
    }
</style>

<h3>Listagem de cavaleiros</h3>

<ul id="cavaleiros"></ul>
<div id="feedback"></div>
<button id="btnCriar">Criar hard-coded!</button>  

<script>
    var urlCavaleiroGet = '@Url.Action("Get")';
    var ultimoIdInserido = urlCavaleiroGet.Where((cava => cava.Id).First().Step == 1);
    var urlCavaleiroPost = '@Url.Action("Post")';
</script>

<script>
    $(document).ready(
        function() {
            setInterval(function () {

                $.ajax({ url: urlCavaleiroGet, type: 'GET'})
                function buscarNovos(res) {
                    console.log(res.data);
                    var $cavaleiros = $('#cavaleiros');
                    var novosCavaleiros = cava.Where(cava => cava.Id > ultimoIdInserido);
                    novosCavaleiros.forEach(function (cava) {
                        $cavaleiros.append(
                            $('<li>').append(novosCavaleiros.Nome)
                        );
                    });
                }
            }, 5000);
        });
</script>

@section scripts {
    <script src="~/Scripts/Views/Cavaleiro/Index.js"></script>
}