body {
    
    background: #fff url('../Imagens/bg-topo.jpg') no-repeat;
    background-position: center top;
    margin: 0 auto;
    font-family: arial;
}

#menu {
    margin: 0 auto;
    color: #2d2d2d;
    margin-top: 320px;
    width: 500px;
    text-align: center;
    font-family: arial;
    font-size: 18px;
    line-height: 1;
    padding: 15px;
    background: rgba(118,112, 109, 0.6);
    border-radius: 10px;
    border: 1px solid #fff;
}

a,
#menu a {
    color: #fff;
    text-decoration: initial;
    padding: 20px;
}

a {
    color: #333;
}

.titulo {
    margin: 60px auto;
    background: #444444;
    width: 60%;
    padding: 10px 20px;
    color: #DDDDDD;
    font-family: arial;
    font-size: 30px;
}

.subtitulo {
  font-size: 1.5em;
  color: #333;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

.sub-subtitulo {
  font-size: 1.17em;
  color: #333;
  line-height:
}

#main {
    margin: 20px auto;
    margin-top: -60px;
    width: 60%;
    min-height: 300px;
    padding: 20px;
    background: #EDEDED;
    color: #333;
    overflow: auto;
}

#main p {
    width: 95%;
     text-align: justify;
     line-height: 1.5em;
}

 header + p {
   text-indent: 1.5em;
 }

.img-about {
    width: 240px;
    float: left;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
