body {
    background-image: url('../Images/bg.jpg');
}

#main {
    padding: 25px;
}

.box {
   background: #fff;
   margin: 20px auto;
   text-align: left;
   padding: 10px 30px;
   border-radius: 20px;
}

.box h2 {
  margin-bottom: -10px;
}

.site-title {
    margin: 20px 0 5px 30px;
}

.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url(http://www.pascal.unsam.edu.ar:8080/Graphics/Content/img/loader.gif) center center no-repeat;
    z-index: 10;
}

.erro {
    color: red;
}

.navbar-default .navbar-nav > li > p {
    display: block;
    position: relative;
    margin-top: 15px;
    padding: 0px 15px;
}

.navbar {
    border-radius: 0!important;
    border: none;
}

#novosGolpes li,
#novasImagens li {
    list-style: none;
    padding-top: 5px;
    width: 100%;
}