<style>
    .erro {
        color: red;
    }
</style>

<h3>Listagem de cavaleiros</h3>

<ul id="cavaleiros"></ul>
<div id="feedback"></div>
<button id="btnCriar">Criar hard-coded!</button>  

<script>
    var urlCavaleiroGet = '@Url.Action("Get")';
    var urlCavaleiroPost = '@Url.Action("Post")';
</script>

<script>
    setInterval(function () {
        var cavaleirosExibidos = $("li").length;
        $.ajax({ url: urlCavaleiroGet, type: 'GET' }).done(function (res) {
            var cavaleiros = res.data;
            var numeroNovosCavaleiros = 0;
            if (cavaleirosExibidos < cavaleiros.length) {
                for (var i = cavaleirosExibidos; i < cavaleiros.length; i++) {
                    numeroNovosCavaleiros++;
                    $('#cavaleiros').append(criarHtmlCavaleiro(cavaleiros[i]));
                }
                notificarNovosCavaleiros(numeroNovosCavaleiros);
            }
        });
    }, 5000);
</script>

@section scripts {
    <script src="~/Scripts/Views/Cavaleiro/Index.js"></script>
}