
@{
    ViewBag.Title = "DashboardAdmin";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Dashboard</h2>

<ul>
    <li><a href="~/Pedido/Cadastro">Cadastrar um Produto</a></li>
    <li><a href="~/Pedido/Listagem">Visualizar Pedidos</a></li>
    <li><a href="~/Pedido/ListagemClientes">Visualizar Clientes</a></li>
</ul>